<!DOCTYPE html>
<html>
<head>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Raleway&display=swap">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}

body, html {
  height: 100%;
  line-height: 1.8;
}

/* Full height image header */
.bgimg-1 {
  background-position: center;
  background-size: cover;
  background-image: url("/images/NGTS/eso1502c.jpg");
  min-height: 100%;
}

.w3-bar .w3-button {
  padding: 16px;
}
</style>
</head>
<body>

<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-white w3-card" id="myNavbar">
    <a href="/index.html" class="w3-bar-item w3-button"><i class="fa fa-home"></i> NGTS</a>
    <!-- Right-sided navbar links -->
    <div class="w3-right w3-hide-small">
      <a href="/pages/tabs/about_page.html" class="w3-bar-item w3-button"><i class="fa fa-info-circle"></i> ABOUT</a>
      <a href="/pages/tabs/for_science_page.html" class="w3-bar-item w3-button"><i class="fa fa-mortar-board"></i>FOR SCIENTISTS</a>
      <!-- <a href="/pages/tabs/team_page.html" class="w3-bar-item w3-button"><i class="fa fa-user"></i> CONSORTIUM</a> -->
      <a href="/pages/tabs/working_groups_page.html" class="w3-bar-item w3-button"><i class="fa fa-th"></i>SCIENCE TOPICS</a>
      <a href="/pages/tabs/data_page.html" class="w3-bar-item w3-button"><i class="fa fa-database"></i> DATA</a>
      <a href="/pages/tabs/publications_page.html" class="w3-bar-item w3-button"><i class="fa fa-file"></i> PUBLICATIONS</a>
      <a href="/pages/tabs/news_page.html" class="w3-bar-item w3-button"><i class="fa fa-newspaper-o"></i> NEWS</a>
      <a href="/pages/tabs/contact_page.html" class="w3-bar-item w3-button"><i class="fa fa-envelope"></i> CONTACT</a>
      <a href="/pages/tabs/media_page.html" class="w3-bar-item w3-button"><i class="fa fa-film"></i> MEDIA</a>
      <a href="/pages/tabs/paranal_live_page.html" class="w3-bar-item w3-button"><i class="fa fa-star"></i> PARANAL LIVE</a>
      <a href="https://ngts.planethunters.org" target="_blank" class="w3-bar-item w3-button"><i class="fa fa-binoculars"></i> FIND PLANETS</a>
    </div>
    <!-- Hide right-floated links on small screens and replace them with a menu icon -->

    <a href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium" onclick="w3_open()">
      <i class="fa fa-bars"></i>
    </a>
  </div>
</div>

<!-- Sidebar on small screens when clicking the menu icon -->
<nav class="w3-sidebar w3-bar-block w3-black w3-card w3-animate-left w3-hide-medium w3-hide-large" style="display:none" id="mySidebar">
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-bar-item w3-button w3-large w3-padding-16">Close ×</a>
  <a href="/pages/tabs/about_page.html" class="w3-bar-item w3-button"><i class="fa fa-info-circle"></i> ABOUT</a>
  <a href="/pages/tabs/for_science_page.html" class="w3-bar-item w3-button"><i class="fa fa-mortar-board"></i>FOR SCIENTISTS</a>
  <!-- <a href="/pages/tabs/team_page.html" class="w3-bar-item w3-button"><i class="fa fa-user"></i> CONSORTIUM</a> -->
  <a href="/pages/tabs/working_groups_page.html" class="w3-bar-item w3-button"><i class="fa fa-th"></i>SCIENCE TOPICS</a>
  <a href="/pages/tabs/data_page.html" class="w3-bar-item w3-button"><i class="fa fa-database"></i> DATA</a>
  <a href="/pages/tabs/publications_page.html" class="w3-bar-item w3-button"><i class="fa fa-file"></i> PUBLICATIONS</a>
  <a href="/pages/tabs/news_page.html" class="w3-bar-item w3-button"><i class="fa fa-newspaper-o"></i> NEWS</a>
  <a href="/pages/tabs/contact_page.html" class="w3-bar-item w3-button"><i class="fa fa-envelope"></i> CONTACT</a>
  <a href="/pages/tabs/media_page.html" class="w3-bar-item w3-button"><i class="fa fa-film"></i> MEDIA</a>
  <a href="/pages/tabs/paranal_live_page.html" class="w3-bar-item w3-button"><i class="fa fa-star"></i> PARANAL LIVE</a>
  <a href="https://ngts.planethunters.org" target="_blank" class="w3-bar-item w3-button"><i class="fa fa-binoculars"></i> FIND PLANETS</a>
</nav>
