body {
    color: black;
    background-color: white;
    padding: 0px;
}

#maincontainer {
    background-color: #e5e5e5;
    border: solid #e5e5e5 20px;
    width: 960px;
    margin: 0px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
    border-collapse: collapse;
    height: 100%;
    font-family: Verdana, sans-serif;
}

#maincontainer td {
    border: solid white 0px;
    vertical-align: top;
    padding: 0px;
    margin: 0px;
}

#logo {
    color: red;
    padding: 0px;
    margin: 0px;
    height: 135px;
}

#menubar {
    height: 1px;
}

#menubar table {
    width: 100%;
    border: 0px;
    border-collapse: collapse;
    border: 0px;
}

#menubar td {
    font-size: 14px;
    padding: 0px;
    margin: 0px;
    border: 0px;
}

#menubar a {
    display: block;
    font-weight: bold;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    background-color: #7dc1c1;
    padding: 4px;
}

#menubar a:hover, a:active {
    background-color: #ff8300;
}

#maincontent {
    font-size: 14px;
    text-align: justify;
    line-height: 150%;
    padding-top: 30px;
    vertical-align: top;
}

#maincontent h1 {
    font-size: 28px;
    margin-top: 30px;
}

#pagemaint {
    height: 20px;
    font-size: 10px;
}

div.leftimage {
    float: left;
    margin: 0px;
    margin-right: 20px;
    margin-bottom: 10px;
    text-align: center;
    height: auto;
}

div.rightimage {
    float: right;
    margin: 0px;
    margin-left: 20px;
    margin-bottom: 10px;
    text-align: center;
    height: auto;
}

div.centreimage {
    margin: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    text-align: center;
    height: auto;
    display: block;
}

div.leftimage img, div.rightimage img, div.centreimage img {
    width: inherit;
/*    display: inline;*/
}

div.imgcaption {
    font-weight: bold;
    font-size: 11px;
    text-align: center;
    line-height: 120%;
    margin: 5px;
    margin-top: 10px;
}

